[submodule "Linux-I2C-HD44780-LCD-C-Library"]
	path = Linux-I2C-HD44780-LCD-C-Library
	url = https://github.com/JSpeedie/Linux-I2C-HD44780-LCD-C-Library
	branch = main
[submodule "ESP32-I2C-LSM6DSOX-LIS3MDL-Library"]
	path = ESP32-I2C-LSM6DSOX-LIS3MDL-Library
	url = https://github.com/JSpeedie/ESP32-I2C-LSM6DSOX-LIS3MDL-Library
	branch = main
[submodule "ESP32-SPI-SSD1327-Library"]
	path = ESP32-SPI-SSD1327-Library
	url = https://github.com/JSpeedie/ESP32-SPI-SSD1327-Library
	branch = main
[submodule "ESP32-I2C-HD44780-PCF8574-Library"]
	path = ESP32-I2C-HD44780-PCF8574-Library
	url = https://github.com/JSpeedie/ESP32-I2C-HD44780-PCF8574-Library
	branch = main
[submodule "ESP32-UART-US-100-Library"]
	path = ESP32-UART-US-100-Library
	url = https://github.com/JSpeedie/ESP32-UART-US-100-Library
	branch = main
